<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SMBot.Properties.Settings>
            <setting name="Debug" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="Error" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Success" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LastStream" serializeAs="String">
                <value />
            </setting>
        </SMBot.Properties.Settings>
    </userSettings>
</configuration>